################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/DSAndAlgo/.vs/DSAndAlgo
/src/DSAndAlgo/BasicDS/obj
/src/DSAndAlgo/BasicDS/bin/Debug/net5.0
/src/DSAndAlgo/BasicDS-Lib/bin/Debug/net6.0
/src/DSAndAlgo/BasicDS-Lib/obj
